<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rango - {% block title %}Tango with Django{% endblock%}</title>
  </head>
  <body>
    <div>
      {% if user.is_authenticated %}
        <h1>Rango says...{{ user.username }}!</h1>
        <a href="{% url 'logout' %}">Logout</a>|
        <a href="{% url 'add_category' %}">Add Category</a>|
      {% else %}
        <h1>Rango says...Hello World!</h1>
        <a href="{% url 'login' %}">Login!</a>|
        <a href="{% url 'register' %}"> Register </a>|
      {% endif %}
      <a href="{% url 'about' %}">About</a> |
      <hr>
    </div>
    <div>
      {% block body_block %}{% endblock %}
    </div>
  </body>
</html>