{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
  <strong>Top Categories</strong>
  {% if categories %}
    <ul>
      {% for category in categories %}
      <li><a href="{% url 'category' category.slug %}">{{category.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>Currently no top categories...</strong>
  {% endif %}
  <strong>Top Pages</strong>
  {% if pages %}
    <ul>
      {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>Currently no top pages</strong>
  {% endif%}
{% endblock %}