<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>Tango with Django</title>
  </head>
  <body>
     <body>
        <h1>Rango says...Hello World!</h1>
        <a href="{% url 'about'">About</a>
        {% if categories %}
          <ul>
            {% for category in categories %}
            <li> {{category.name }} </li>
            {% endfor %}
          </ul>
        {% else %}
          <strong>There are currently no categories</strong>
        {% endif %}
      </body>
  </body>
</html>