{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Login! {% endblock %}

{% block body_block %}
  <h1>Log in!</h1>
  <form id="login" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" size="50" />
    <label for="password">Password:</label>
    <input type="password" name="password" size="50" />
    <input type="submit", name="submit" vlaue="Login" />
  </form>
  <i>Not registered yet? <a href="{% url 'register'%}">Sign up!</a> or <a href="{% url 'index' %}">Go Home!!</a></i>
{% endblock %}
